<i18n>
  {
    "eng": {
      "headerText": "Active 31-year-old female patient",
      "slideDescription": "Full-time bank employee, customer facing.<br />Family planning: wedding planned, first child in approximately 2 to 5 years",
      "diagnosis": "<span>Diagnosis of RRMS</span>",
      "first": "<span>First symptoms</span>",
      "firstItem1": "<span>Tingling in left leg</span>",
      "firstItem2": "<span>Blurry vision</span>",
      "clinical": "<span>Clinical</span>",
      "clinicalItem1": "<span>1 relapse (treated with cortisone therapy)</span>",
      "clinicalItem2": "<span>EDSS: 0</span>",
      "mri": "<span>MRI</span>",
      "mriItem1": "<span>3 T2 lesions (2 juxtacortical; 1 periventricular)</span>",
      "mriItem2": "<span>2 Gd+ lesions (both periventricular)</span>",
      "yearItem1": "<span>2017</span>",
      "patientHeader": "<span>Patient needs:</span>",
      "listItem1": "<span>Desire for an effective therapy to continue with her life plans</span>",
      "listItem2": "<span>Family planning to be considered in the medium term</span>"
    }
  }
</i18n>

<template>
  <wiz-slide class="slide">
    <wiz-image id="headerImage" :src="headerImage"></wiz-image>

    <wiz-container id="header">
      <wiz-text id="headerText" :text="$t('headerText')"></wiz-text>
      <wiz-text id="slideDescription" :text="$t('slideDescription')"></wiz-text>
    </wiz-container>

    <wiz-container id="slideContentSection">
      <wiz-container id="circleLineContainer">
        <wiz-image id="circleImage" :src="circle"></wiz-image>
      </wiz-container>

      <wiz-container id="contentListContainer">
        <wiz-text id="contentHeader" :text="$t('diagnosis')"></wiz-text>
        <wiz-text id="description" :text="$t('first')"></wiz-text>
        <wiz-list orientation="vertical" :list="first" icon-alignment="left"></wiz-list>
        <wiz-text class="description" :text="$t('clinical')"></wiz-text>
        <wiz-list orientation="vertical" :list="clinical" icon-alignment="left"></wiz-list>
        <wiz-text class="description" :text="$t('mri')"></wiz-text>
        <wiz-list orientation="vertical" :list="mri" icon-alignment="left"></wiz-list>
      </wiz-container>
    </wiz-container>

    <wiz-list id="yearList" orientation="horizontal" icon="" :list="yearList"></wiz-list>

    <wiz-container id="patientSection">
      <wiz-text id="patientHeader" :text="$t('patientHeader')"></wiz-text>
      <wiz-list orientation="vertical" icon-alignment="left" :list="list">
      </wiz-list>
    </wiz-container>

    <wiz-image id="womanImage":src="womanImage"></wiz-image>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>
  </wiz-slide>
</template>
<script>
import headerImage from '../../common/media/images/top-background.png';
import womanImage from './media/images/woman.png';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import circle from '../../common/media/images/circle.png';

export default {
  data() {
    return {
      headerImage,
      tecfiderLogo,
      womanImage,
      circle,
      first: [{
        number: '1',
        text: this.$t('firstItem1'),
      },
      {
        number: '2',
        text: this.$t('firstItem2'),
      }],
      clinical: [{
        number: '1',
        text: this.$t('clinicalItem1'),
      },
      {
        number: '2',
        text: this.$t('clinicalItem2'),
      }],
      mri: [{
        number: '1',
        text: this.$t('mriItem1'),
      },
      {
        number: '2',
        text: this.$t('mriItem2'),
      }],
      yearList: [{
        number: '1',
        text: this.$t('yearItem1'),
      }],
      list: [{
        number: '1',
        text: this.$t('listItem1'),
      },
      {
        number: '2',
        text: this.$t('listItem2'),
      }],
    };
  },
};
</script>
<style scoped>
  .wiz-list >>> .wiz-list-item .icon-bullet {
    width: auto;
    height: 100%;
    overflow: visible;
  }

  .wiz-list >>> .wiz-list-item .icon-bullet .wiz-image {
    width: auto;
    height: auto;
  }

  .wiz-list >>> .wiz-list-item .icon-bullet .wiz-image img {
    width: 4px;
    height: 4px;
  }

  .wiz-list >>> .wiz-text {
    text-align: start;
    color: #5B6770;
  }

  #slideDescription{
    position: absolute;
    top: 34px;
    font-family: 'FranklinGothicBook', sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: rgb(91,103,112);
  }

 #slideContentSection {
    position: absolute;
    top: 155px;
    left: 85px;
    width: 686px;
    height: 350px;
    border-bottom: 1px solid #80276C;
  }

  #circleLineContainer {
    position: absolute;
    left: 17px;
    bottom: 5px;
    width: 30px;
    height: 90%;
    border-left: 2px solid #78BE20;
  }

  #circleImage {
    width: 29px;
    height: 29px;
    position: absolute;
    top: -18px;
    left: -16px;
  }


  #contentListContainer {
    position: absolute;
    top: 43px;
    left: 29px;
  }

  #contentHeader {
    font-size: 15px;
    font-family: 'FranklinGothicMedium';
    color: #80276C;
    line-height: 1.1;
  }

  .description {
    font-size: 12.5px;
    font-family: 'FranklinGothicBook';
    color: #5B6770;
    line-height: 10px;
    margin-bottom: 3px;
  }

  #contentListContainer .wiz-list {
    width: 500px;
    margin: 0;
    padding: 0;
  }

  #contentListContainer .wiz-list >>> li {
    margin-bottom: 0 !important;
  }

  #contentListContainer:nth-of-type(4) .wiz-list {
    margin: 0;
    top: 12px;
    left: 0px;
  }

  #contentListContainer:nth-of-type(4) >>> .wiz-list li {
    margin-bottom: 0px !important;
  }

  #contentListContainer .wiz-list >>> .icon-bullet {
    margin-right: 3px;
  }

  #contentListContainer .wiz-list >>> .icon-bullet img {
    display: flex;
  }

  #contentListContainer .wiz-list >>> .wiz-text {
    font-size: 12px;
  }

  #contentListContainer .wiz-list >>> li {
    align-items: center;
  }

 #yearList {
    position: absolute;
    top: 500px;
    left: 47px;
  }

  #yearList >>> .wiz-text {
    font-family: 'FranklinGothicMedium';
    font-size: 15px;
    color: #80276C;
  }

  #patientSection{
    position: absolute;
    top: 564px;
    left: 63px;
  }

  #patientHeader {
    position: absolute;
    top: 0;
    left: 23px;
    font-family: 'ITCFranklinGothicStdDemi';
    font-size: 21.5px;
    color: #78BE20;
  }

  #patientSection >>> ul {
    padding: 25px 0 0 22px;
  }

  #patientSection >>> ul li {
    margin-bottom: 10px !important;
  }

  #patientSection >>> li .wiz-text {
    font-size: 22px;
    text-align: start;
  }

  #patientSection >>> li:last-child {
    padding: 6px 0 0 0 ;
  }

  #womanImage{
    position: absolute;
    top: 167px;
    left: 781px;
    width: 178px;
    height: auto;
  }
</style>
