<i18n>
  {
    "eng": {
      "header": "<span>Patients switching from GA to TECFIDERA<br>experience a marked ARR decrease<sup>1</sup></span>",
      "text1": "<span>ARR at 1 year before and after switching to <span>Tecfidera</span></span>",
      "text2": "<span>Rate ratio (95% CI)<br><span>0.22 (0.14–0.34) P<.0001</span></span>",
      "text3": "<span>0.49<br><span>(0.42–0.57)</span></span>",
      "text4": "<span>0.11<br><span>(0.07–0.17)</span></span>",
      "text5": "<span>12 Months before<br><span>TECFIDERA</span>initiation</span>",
      "text6": "<span>12 Months after<br><span>TECFIDERA</span>initiation</span>",
      "text7": "<span>Unadjusted ARR (95% CI)</span>",
      "text8": "<span>Adapted from Kresa-Reahl, et al. 2018.</span>",
      "text9": "<span>Regardless of reason for switching from GA (suboptimal efficacy, intolerance<br>or poor adherence) to Tecfidera, <span>all patients respond equally well</span></span>",
      "text10": "<span><span>ARR:</span> Annualised Relapse Rate; <span>CI:</span> Confidence Interval; <span>GA:</span> Glatiramer Acetate.</span>"
   }
  }
</i18n>

<template>
  <wiz-slide>
    <wiz-image id="headerImage" :src="headerImage"></wiz-image>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>
    <wiz-image id="graphImage" :src="graphImage"></wiz-image>
    <wiz-image id="circleImage" :src="circleImage"></wiz-image>

    <wiz-text id="header" :text="$t('header')"></wiz-text>
    <wiz-text id="text1" :text="$t('text1')"></wiz-text>
    <wiz-text id="text2" :text="$t('text2')"></wiz-text>
    <wiz-text id="text3" :text="$t('text3')"></wiz-text>
    <wiz-text id="text4" :text="$t('text4')"></wiz-text>
    <wiz-text id="text5" :text="$t('text5')"></wiz-text>
    <wiz-text id="text6" :text="$t('text6')"></wiz-text>
    <wiz-text id="text7" :text="$t('text7')"></wiz-text>
    <wiz-text id="text8" :text="$t('text8')"></wiz-text>
    <wiz-text id="text9" :text="$t('text9')"></wiz-text>
    <wiz-text id="text10" :text="$t('text10')"></wiz-text>
  </wiz-slide>
</template>
<script>
import graphImage from './media/images/graph.jpg';
import headerImage from '../../common/media/images/top-background.png';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import circleImage from './media/images/circle.jpg';

export default {
  data() {
    return {
      headerImage,
      graphImage,
      tecfiderLogo,
      circleImage,
    };
  },
};
</script>
<style scoped>
  #graphImage{
    position: absolute;
    top: 180px;
    left: 179px;
    width: 662px;
    height: 401px;
  }

  #header{
    position: absolute;
    top: 62px;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    color: #80276c;
  }

  #header >>> sup{
    font-size: large;
  }

  #text1{
    position: absolute;
    top: 152px;
    left: 323px;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 15px;
    color: #80276c;
  }

  #text1 >>> span > span{
    text-transform: uppercase;
  }

  #text2{
    position: absolute;
    top: 185px;
    left: 420px;
    width: 169px;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #5b6770;
  }

  #text2 >>> span > span{
    font-family: FranklinGothicBook;
    font-size: 9px;
    letter-spacing: 0;
  }

  #text3, #text4{
    width: 150px;
    font-size: 18px;
    font-family: ITCFranklinGothicStdDemi;
    line-height: 12px;
    text-align: center;
    color: #5b6770;
  }

  #text3 >>> span > span,
  #text4 >>> span > span{
    font-family: FranklinGothicBook;
    font-size:9px
  }

  #text3{
    position: absolute;
    top: 233px;
    left: 344px;
  }

  #text4{
    position: absolute;
    top: 387px;
    left: 557px;
  }

  #text5, #text6 {
    position: absolute;
    top: 510px;
    width: 150px;
    font-family: FranklinGothicBook;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #5b6770;
  }

  #text5 >>> span > span,
  #text6 >>> span > span{
    text-transform: uppercase;
  }

  #text5{
    left: 345px;
  }

  #text6{
    left: 558px;
  }

  #text7{
    position: absolute;
    top: 371px;
    left: 136px;
    letter-spacing: 0.5px;
    font-family: FranklinGothicBook;
    font-size: 15px;
    color: #5B6770;
    transform: rotate(-90deg);
  }

  #text8{
    position: absolute;
    top: 564px;
    left: 180px;
    word-spacing: 1px;
    font-family: FranklinGothicBook;
    font-size: 10px;
    color: #5b6770;
  }

  #text9{
    position: absolute;
    top: 604px;
    left: 86px;
    position: absolute;
    width: 855px;
    font-family: FranklinGothicBook;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #5b6770;
  }

  #text9 >>> span > span{
    font-size: 30px;
    color: #78be20;
  }

  #text10{
    position: absolute;
    left: 84px;
    top: 728px;
    font-family: FranklinGothicBook;
    letter-spacing: 0.1px;
    font-size: 10px;
    color: #5b6770;
  }

  #text10 >>> span > span{
    font-family: ITCFranklinGothicStdDemi;
    color: #80276c;
  }

  #circleImage{
    position: absolute;
    top: 230px;
    left: 568px;
    width: 124px;
    height: 124px;
  }
</style>
