@font-face {
    font-family: 'DINOT';
    src: url("../media/fonts/DINOT-Light.otf"); 
}

@font-face {
    font-family: 'ITCFranklinGothicStd';
    src: url("../media/fonts/ITCFranklinGothicStd-BookIt.otf"); 
}

@font-face{
    font-family: 'ITCFranklinGothicStdDemi';
    src: url("../media/fonts/ITCFranklinGothicStd-Demi.otf");
}

@font-face{
    font-family: 'FranklinGothicBook';
    src: url("../media/fonts/FRABK.ttf");
}

@font-face{
    font-family: 'FranklinGothicMedium';
    src: url("../media/fonts/ITCFranklinGothicStd-Med.otf");
}
