body{
    margin: 0;
    padding: 0;
}

.wiz-slide{
    position: relative;
    width: 1024px;
    height: 768px;
}

#headerImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#tecfigerLogo{
    position: absolute;
    top: 700px;
    left: 850px;
    width: 165px;
}

.grayGreenText, 
.grayVioletText
{
    font-family: 'FranklinGothicBook';
    color: #5B6770;
}

.grayGreenText span span
{
    color: #78BE20;
}

.grayVioletText span span
{
    font-family: 'ITCFranklinGothicStdDemi';
    color: #80276C;
}

#header{
    position: absolute;
    top: 58px;
    left: 84px;
    width: 800px;
  }

#headerText{
font-family: 'ITCFranklinGothicStdDemi', sans-serif;
font-size: 30px;
text-transform: uppercase;
line-height: 34pt;
color: rgb(128,39,108);
}