<i18n>
    {
        "eng": {}
    }
</i18n>

<template>
    <wiz-root>
        <wiz-viewer>
            <header></header>
            <wiz-it-sidebar>
                <wiz-button id="openPopUpButton" class="sidebarButton"
                @click="openPopUp"
                :class="[(activeBtn === 'popUp') ? 'active':'' ]"
                >
                  <wiz-image
                  :src="svgThree"
                  >
                  </wiz-image>
                </wiz-button>
                <wiz-button id="editButton" class="sidebarButton"
                @click="activeBtn = 'edit'"
                :class="[(activeBtn === 'edit') ? 'active':'' ]"
                >
                  <wiz-image
                  :src="svgPen"
                  >
                  </wiz-image>
                </wiz-button>
                <wiz-button id="listButton" class="sidebarButton"
                @click="activeBtn = 'list'"
                :class="[(activeBtn === 'list') ? 'active':'' ]"
                >
                  <wiz-image
                  :src="svgList"
                  >
                  </wiz-image>
                </wiz-button>
                <wiz-button id="chartButton" class="sidebarButton"
                @click="activeBtn = 'chart'"
                :class="[(activeBtn === 'chart') ? 'active':'' ]"
                >
                  <wiz-image
                  :src="svgChart"
                  >
                  </wiz-image>
                </wiz-button>
                <wiz-button id="refreshButton" class="sidebarButton"
                @click="activeBtn = 'refresh'"
                :class="[(activeBtn === 'refresh') ? 'active':'' ]"
                >
                <wiz-image
                :src="svgRefresh"
                >
                </wiz-image>
                </wiz-button>
            </wiz-it-sidebar>
            <wiz-it-sitemap-menu :inside-close="sidebarPopUpClose" @close="closePopUp">
            </wiz-it-sitemap-menu>
            <wiz-it-chapter-menu :disable="(sidebarPopUpClose === 'open' )? true : false">
            </wiz-it-chapter-menu>
        </wiz-viewer>
    </wiz-root>
</template>

<script>
import svgThree from './common/media/svg/scheme.svg';
import svgPen from './common/media/svg/line-pen.svg';
import svgRefresh from './common/media/svg/refresh.svg';
import svgList from './common/media/svg/list.svg';
import svgChart from './common/media/svg/chart.svg';

export default {
  name: 'wiz-app',
  data() {
    return {
      svgThree,
      svgPen,
      svgList,
      svgChart,
      svgRefresh,
      sidebarPopUpClose: 'close',
      activeBtn: '',
    };
  },
  methods: {
    openPopUp(status) {
      this.activeBtn = 'popUp';
      if (this.sidebarPopUpClose === 'close') { this.sidebarPopUpClose = 'open'; }
    },
    closePopUp() {
      if (this.activeBtn === 'popUp') {
        this.activeBtn = '';
      }
      this.sidebarPopUpClose = 'close';
    },
  },
};

</script>

<style scoped>
    @import 'common/styles/imports.css';

.wiz-button.sidebarButton
{
    width: 100%;
    background: none;
    padding: 15px 0 15px 0;
}

.wiz-button.sidebarButton.pressed
{
    background: none;
}

.wiz-button#refreshButton
{
    position: relative;
    top: 130px;

}

.sidebarButton .wiz-image
{
    width: 28px;
    height: auto;
    margin: 0 auto;
}

.wiz-image >>>  img
{
filter: invert(0.5) sepia(0) saturate(20) hue-rotate(342deg) brightness(0.89);
}

.wiz-button.active >>> img
{
  filter: invert(0.4) sepia(0.5) saturate(20) hue-rotate(248.4deg) brightness(0.74);
}

</style>
