<template>

  <wiz-container id="borderContainer">
    <wiz-container id="leftBorder"></wiz-container>
    <wiz-container id="contentContainer">
      <wiz-container id="content">
        <slot>

        </slot>
      </wiz-container>
    </wiz-container>
    <wiz-container id="rightBorder"></wiz-container>
  </wiz-container>

</template>

<script>


export default {
  name: 'wiz-it-border-container',
};
</script>

<style scoped>

.wiz-container:empty
{
  background: none;
}

#borderContainer
{
  position: relative;
  display: block;
  width: 300px;
  height: 120px;
}

#borderContainer #leftBorder,
#borderContainer #rightBorder
{
  height: 100%;
  width: 30px;
  position: absolute;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  top:0;
}

#borderContainer #leftBorder
{
  left: 0;
  border-left: 1px solid #000000;
}

#borderContainer #rightBorder
{
  right: 0;
  border-right: 1px solid #000000;
}

#borderContainer #contentContainer
{
  position: relative;
  z-index: 3;
  margin: 0 auto;
  min-width: 240px;
  min-height: 120px;
  height: fit-content;
  display: block;
  padding: 10px 30px 10px 30px;
}
</style>
