<i18n>
  {
    "eng": {
      "thretText": "<span>FOR THE TREATMENT OF RRMS</span>",
      "tecfideraText": "<span>TECFIDERA effectively impacts<br />disease activity in the long term.</span>",
      "copyrightText": "<span>©2019 Biogen | TF-EU+-0007 Biogen-02659 | May 2019</span>"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <wiz-image id="bgImage" :src="bgHorseImage" alt="horse-image"></wiz-image>

    <wiz-container id="centerLogoContainer">
       <wiz-text :text="$t('thretText')"></wiz-text>
        <wiz-image :src="centerGradTextLogo" alt="Start early stay in control."></wiz-image>
        <wiz-text :text="$t('tecfideraText')"></wiz-text>
    </wiz-container>

    <wiz-container id="logoContainer">
      <wiz-image id="biogenLogo" :src="biogenLogo" alt="Biogen."></wiz-image>
      <wiz-text :text="$t('copyrightText')"></wiz-text>
      <wiz-image id="tecfideraLogo" :src="tecfideraLogo" alt="Tecfidera"></wiz-image>
    </wiz-container>
  </wiz-slide>
</template>

<script>
import bgHorseImage from './media/images/bg-horse-image.png';
import biogenLogo from './media/images/biogen-logo.png';
import centerGradTextLogo from './media/images/center-grad-text-logo.png';
import tecfideraLogo from './media/images/tecfidera-logo.png';

export default {
  data() {
    return {
      bgHorseImage,
      biogenLogo,
      centerGradTextLogo,
      tecfideraLogo,
    };
  },
};
</script>

<style scoped>
.wiz-slide >>> .wiz-image#bgImage {
  position: absolute;
  left: 40px;
  z-index: 1;
  width: auto;
  height: auto;
}

.wiz-slide >>> .wiz-image {
  width: auto;
  height: auto;
}

.wiz-slide >>> #centerLogoContainer {
  position: absolute;
  right: -105px;
  top: 223px;
  z-index: 2;
  width: fit-content;
  text-align: center;
}

#centerLogoContainer >>> .wiz-text {
  font-family: 'DINOT';
}

#centerLogoContainer .wiz-text:nth-child(1) {
  margin: 0 0 18px 0;
  font-size: 12px;
}

#centerLogoContainer .wiz-text:nth-child(3) {
  margin: 18px 0 0 0;
  font-size: 16px;
}

#centerLogoContainer >>> .wiz-image {
  width: 50%;
  height: auto;
  margin: 0 auto;
  border-top: 1.5px solid #662771;
  border-bottom: 1.5px solid #662771;
}

.wiz-slide #logoContainer {
  position: relative;
  top: 75%;
  z-index: 10;
  display: block;
  width: 100%;
  height: 25%;
}

#logoContainer .wiz-image, #logoContainer .wiz-text{
  position: absolute;
}

#logoContainer .wiz-image >>> img {
  max-width: 50%;
}

#logoContainer  div:nth-child(1){
  top: 122px;
  left: 51px;
}

#logoContainer div:nth-child(2) {
  top: 147px;
  left: 178px;
  font-size: 11px;
  font-family: 'ITCFranklinGothicStd';
  word-spacing: 0.5px;
}

#logoContainer div:nth-child(3) {
  right: -212px;
  top: 72px;
}
</style>
