<i18n>
  {
    "eng": {
      "header": "<span>8 out of 10 patients on tecfidera were free from<br>24-week cdp after 5 years*</span>",
      "text1": "<span>GA/BID</span>",
      "text2": "<span>PBO/BID</span>",
      "text3": "<span>BID/BID</span>",
      "text4": "<span>Probability of confirmed<br>disability progression</span>",
      "text5": "<span>Adapted from Gold R, et al. 2017. Patients were censored if they withdrew from study or switched to an alternative MS medication without a progression.<br>*18.6% (95% CI: 15.3%, 22.4%); 21.1% (95% CI: 16.2%, 27.1%); 25.7% ( 95% CI: 18.4%, 35.2%)</span>",
      "text6": "<span><span>BID:</span> Twice Daily; <span>CDP:</span> Confirmed Disability Progression; <span>EDSS:</span> Expanded Disability Status Scale; <span>GA:</span> Glatiramer Acetate; <span>PBO:</span> Placebo;<br><span>RRMS:</span> Relapsing-Remitting Multiple Sclerosis.</span>",
      "text7": "<span>25.7<sup>%</sup></span>",
      "text8": "<span>21.1<sup>%</sup></span>",
      "text9": "<span>18.6<sup>%</sup></span>"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <wiz-image id="headerImage" :src="headerImage"></wiz-image>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>
    <wiz-image id="tableImage" :src="tableImage"></wiz-image>
    <wiz-image id="graphImage" :src="graphImage"></wiz-image>

    <wiz-it-border-container>
      <wiz-container id="circle1"><span></span></wiz-container>
      <wiz-container id="circle2"><span></span></wiz-container>
      <wiz-container id="circle3"><span></span></wiz-container>

      <wiz-text id="text1" :text="$t('text1')"></wiz-text>
      <wiz-text id="text2" :text="$t('text2')"></wiz-text>
      <wiz-text id="text3" :text="$t('text3')"></wiz-text>
      <wiz-text id="text4" :text="$t('text4')"></wiz-text>
      <wiz-text id="text7" :text="$t('text7')"></wiz-text>
      <wiz-text id="text8" :text="$t('text8')"></wiz-text>
      <wiz-text id="text9" :text="$t('text9')"></wiz-text>
    </wiz-it-border-container>

    <wiz-text id="header" :text="$t('header')"></wiz-text>

    <wiz-text id="text5" :text="$t('text5')"></wiz-text>
    <wiz-text id="text6" :text="$t('text6')"></wiz-text>
  </wiz-slide>
</template>
<script>
import headerImage from '../../common/media/images/top-background.png';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import tableImage from './media/images/table.jpg';
import graphImage from './media/images/graph.jpg';

export default {
  data() {
    return {
      headerImage,
      tecfiderLogo,
      tableImage,
      graphImage,
    };
  },
};
</script>
<style scoped>
  #header{
    position: absolute;
    left: 84px;
    top: 61px;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #80276c;
  }

  #text1, #text2, #text3{
    position: absolute;
    left: 699px;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 34px;
    text-transform: uppercase;
  }

  #text1{
    top: 71px;
    color: #78be20;
  }

  #text2{
    top: 167px;
    color: #5b6770;
  }

  #text3{
    top: 268px;
    color: #80276c;
  }

  #text4{
    position: absolute;
    top: 186px;
    left: -79px;
    width: 206px;
    font-family: FranklinGothicBook;
    text-align: center;
    line-height: 18px;
    transform: rotate(-90deg);
    color: #5b6770;
  }

  #text5{
    position: absolute;
    top: 680px;
    left: 85px;
    font-family: FranklinGothicBook;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: #5b6770;
  }

  #text6{
    position: absolute;
    top: 716px;
    left: 85px;
    font-family: FranklinGothicBook;
    font-size: 10px;
    letter-spacing: 0.23px;
    color: #5b6770;
  }

  #text6 >>> span > span{
    font-family: ITCFranklinGothicStdDemi;
    color: #80276c;
  }

  #text7, #text8, #text9{
    position: absolute;
    left: 588px;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 34px;
    color: #ffffff;
  }

  #text7 >>> sup,
  #text8 >>> sup,
  #text9 >>> sup{
    font-size: large;
  }

  #text7{
    top:70px;
  }

  #text8{
    top: 167px;
  }

  #text9{
    top: 267px;
  }

  #tableImage{
    position: absolute;top: 528px;
    left: 84px;
    width: 855px;
    height: 104px;
  }

  #circle1, #circle2, #circle3{
    position: absolute;
    left: 584px;
    width: 93px;
    height: 93px;
    border-radius: 50%;
  }

  #circle1{
    top: 40px;
    background-color: #78be20;
  }

  #circle2{
    top: 136px;
    background-color: #5b6770;
  }

  #circle3{
    top: 236px;
    background-color: #80276c;
  }

  #graphImage{
    position: absolute;
    top: 181px;
    left: 115px;
    width: 590px;
    height: 346px;
  }

  .wiz-slide >>> #borderContainer{
    position: absolute;
    top: 170px;
    left: 73px;
    width: 879px;
    height: 462px;
  }
</style>
