<template>
  <wiz-container
  v-show="!disable"
  id="chapterMenu"
  :class="[ menuStatus ? 'isActive': '']"
  @mouseleave.native="mouseOut"
  v-outside-click="changeMenuStatus"
  :style="'transition: all ' + closeTime + 's'"
  >
    <wiz-button
    v-for="(item, index) in chapterList"
    v-bind:key="index"
    v-on:click="changeChapter(item)"
    :class="[(item.link === currentChapter) ? 'active' : '' ]"
    >
      <wiz-text
      :text="item.name.toUpperCase()">
      </wiz-text>
    </wiz-button>
  </wiz-container>
</template>

<script>

import { PropType } from 'component-types';

const clickType = [
  { value: 'click', label: 'Click' },
  { value: 'doubleClick', label: 'Double click' },
];

export default {
  name: 'wiz-it-chapter-menu',
  data() {
    return {
      chapterList: [],
      menuStatus: false,
    };
  },
  props: {
    openClosePosition: {
      type: Number,
      actualType: PropType.Number,
      label: 'Start of menu activation zone',
      default: 500,
    },
    clickNeed: {
      type: String,
      actualType: PropType.Enum,
      label: 'Need clicks to open/close',
      options: clickType,
      default: 'click',
    },
    closeTime: {
      type: Number,
      actualType: PropType.Number,
      label: 'Time to close',
      default: 2,
    },
    closeDelay: {
      type: Number,
      actualType: PropType.Number,
      label: 'Close delay in second',
      default: 1,
    },
    autoClose: {
      type: Boolean,
      actualType: PropType.Boolean,
      label: 'Close when mouse leave menu',
      default: false,
    },
    disable: {
      type: Boolean,
      sealed: true,
      default: false,
    },
  },
  computed: {
    currentChapter() {
      return this.$route.path.split('/')[1];
    },
    closeMenuRespon() {
      if (this.autoClose && this.menuStatus) {
        return false;
      }
      return true;
    },
    delayMs() {
      return this.closeDelay * 1000;
    },
  },
  methods: {
    changeChapter(chapter, event) {
      const options = {
        chapter: chapter.link,
        slide: chapter.fSlide,
        animation: true,
      };
      this.$navigator.goTo(options);
    },
    changeMenuStatus(event) {
      const Y = Math.round(event.gesture.srcEvent.clientY);
      if (this.closeMenuRespon) {
        if (((this.clickNeed === 'click') ||
               (this.clickNeed === 'doubleClick' && event.gesture.tapCount >= 2)) &&
              (Y >= this.openClosePosition && !this.menuStatus)) {
          this.menuStatus = true;
        } else if (this.clickNeed === 'click' ||
                   (this.clickNeed === 'doubleClick' && event.gesture.tapCount >= 2)) {
          this.menuStatus = false;
        }
      }
      event.stopPropagation();
    },
    mouseOut(event) {
      if (this.autoClose) {
        setTimeout(
          () => {
            this.menuStatus = false;
          },
          this.delayMs,
        );
      }
      event.preventDefault();
    },
  },
  created() {
    const arrOfChapters = Object.values(this.$navigator.structure.chapters);

    arrOfChapters.forEach((item, index) => {
      if (item.content.length) {
        this.chapterList.push({
          name: item.name,
          fSlide: item.content[0],
          link: this.$navigator.structure.chapterIterator.items[index],
        });
      }
    });
  },
};
</script>

<style scoped>

#chapterMenu
{
    position: absolute;
    top: 768px;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    max-width: 1024px;
    padding: 15px 0 0 0;
    background-color: yellow;
    background-color: #ffffff;
    border-top: 2px solid gray;
    transform: translateY(100%);
}

#chapterMenu.isActive
{
    transform: translateY(-100%);
}

#chapterMenu >>> .wiz-button
{
    position: relative;
    flex-grow: 0.3;
    padding: 10px 0 20px 0;
    background: none;
}

#chapterMenu .wiz-button >>> .wiz-text
{
    position: absolute;
    top: 0;
    left: 50%;
    font-family: 'FranklinGothicMedium';
    font-size: 18px;
    color: #5B6770;
    transform: translateX(-50%);
}
.wiz-button.active
{
    border-bottom: 7px solid #662771;
}

.wiz-button.active >>> .wiz-text
{
    padding: 3.5px 0 0 0;
}
</style>
