<i18n>
  {
    "eng": {
      "headText": "<span>BECAUSE TOMORROW MATTERS TODAY<sup>1</sup></span>",
      "clinicalText": "<span>Clinical and MRI predictors of future disability reported in MS natural<br />history studies:<sup>2,3</sup></span>",
      "patientsText": "<span>Patients with <span>higher lesion volume<br />at baseline</span> are more likely to be<br />disabled after 20 years<sup>1,2</sup></span>",
      "relapseText": "<span><span>Relapses in the first few years<br /></span> are correlated with later levels of<br />disability<sup>1</sup></span>",
      "presenceText": "<span>The presence of <span>residual disability<br />after the first relapse</span> strongly<br />correlates with subsequent<br />disability progression<sup>3</sup></span>",
      "dssText": "<span><span>DSS:</span>Disability Status Scale.</span>"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <wiz-it-core-header :text="$t('headText')"></wiz-it-core-header>
    <wiz-text id="clinicalText" :text="$t('clinicalText')"></wiz-text>
    <wiz-image id="iceberg" :src="iceberg"></wiz-image>
    <wiz-list id="list" orientation="vertical" icon-alignment="left" :list="list"></wiz-list>
    <wiz-text  id="dssText" class="grayVioletText" :text="$t('dssText')"></wiz-text>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>
  </wiz-slide>
</template>
<script>
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import iceberg from './media/images/iceberg.png';

export default {
  data() {
    return {
      tecfiderLogo,
      iceberg,
      list: [
        {
          number: '1',
          text: this.$t('patientsText'),
        },
        {
          number: '2',
          text: this.$t('relapseText'),
        },
        {
          number: '3',
          text: this.$t('presenceText'),
        },
      ],
    };
  },


};
</script>
<style scoped>

#clinicalText {
  position: absolute;
  top: 181px;
  left: 85px;
  font-size: 29.5px;
  font-family: 'FranklinGothicBook';
  line-height: 1.2;
  color: #78BE20;
}

.wiz-slide #clinicalText >>> span sup {
  font-size: 18px;
}

#iceberg {
  position: absolute;
  width: auto;
  height: auto;
  top: 305px;
  left: 105px;
}

#iceberg >>> img {
  width: 50%;
  height: auto;
}
#list {
  position: absolute;
  right: 85px;
  top: 245px;
  font-size: 28px;
  line-height: 1.1;
}

#list >>> .wiz-text {
  font-family: 'FranklinGothicBook';
  font-size: 28px;
  line-height: 1.1;
  text-align: start;
  color: #5B6770;
}

.wiz-slide #list >>> li {
  display: list-item;
  margin-bottom: 0 !important;
}

#list >>> li:nth-child(2) {
  padding: 30px 0 32px 0;
}

#list >>> .wiz-text span span span {
    color: #78BE20;
}

#list >>> sup {
  font-size: 18px;
}

#dssText {
  position: absolute;
  top: 732px;
  left: 520px;
  font-size: 10px;
  word-spacing: 3.2px;
}
</style>
