<i18n>
  {
    "eng": {
      "headText": "<span>IN MS, EARLY AND EFFECTIVE TREATMENT IS CRITICAL TO<br />MAXIMISE BRAIN HEALTH AND DELAY DISABILITY PROGRESSION<sup>1</sup></span>",
      "serialText": "<span>Serial MRI in a patient with relapsing–remitting multiple sclerosis</span>",
      "baselineText": "<span>Baseline</span>",
      "oneYearText": "<span>1 Years</span>",
      "twoYearText": "<span>2 Years</span>",
      "threeYearText": "<span>3 Years</span>",
      "adaptedText": "<span>Addapted from Wattjes, M. P. et al. 20153</span>",
      "goalText": "<span>The goal of treating MS should be to <span>preserve brain tissue</span> and <span>maximize<br />lifelong brain health</span> by reducing disease activity</span>",
      "msMriText": "<span><span>MS:</span>Multiple Sclerosis;<span>MRI:</span>Magnetic Resonance Imaging.</span>"
    }
  }
</i18n>

<template>
  <wiz-slide>
      <wiz-it-core-header :text="$t('headText')"></wiz-it-core-header>
      <wiz-text id="serialText" :text="$t('serialText')"></wiz-text>

      <wiz-it-border-container>
        <wiz-image :src="brainImage"></wiz-image>
        <wiz-list id="list" orientation="horizontal" :list="list"></wiz-list>
      </wiz-it-border-container>

      <wiz-text id="adaptedText" :text="$t('adaptedText')"></wiz-text>
      <wiz-text id="goalText" class="grayGreenText" :text="$t('goalText')"></wiz-text>

      <wiz-container id="patientImageContainer">
        <wiz-container class="patient-image">
          <wiz-image :src="patient1"></wiz-image>
          <wiz-image class="svg-button" :src="svgButton"></wiz-image>
        </wiz-container>

        <wiz-container class="patient-image">
          <wiz-image :src="patient2"></wiz-image>
          <wiz-image class="svg-button" :src="svgButton"></wiz-image>
        </wiz-container>

        <wiz-container class="patient-image">
          <wiz-image :src="patient3"></wiz-image>
          <wiz-image class="svg-button" :src="svgButton"></wiz-image>
        </wiz-container>
      </wiz-container>

      <wiz-text id="msMriText" class="grayVioletText" :text="$t('msMriText')"></wiz-text>
      <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>
  </wiz-slide>
</template>
<script>
import coreTopBackground from '../../common/media/images/core-top-background.png';
import svgButton from '../../common/media/svg/arrow.svg';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import patient1 from './media/images/circle-patient-1.png';
import patient2 from './media/images/circle-patient-2.png';
import patient3 from './media/images/circle-patient-3.png';
import brainImage from './media/images/brain-image.png';

export default {

  data() {
    return {
      coreTopBackground,
      svgButton,
      tecfiderLogo,
      patient1,
      patient2,
      patient3,
      brainImage,
      list: [
        {
          number: '1',
          text: this.$t('baselineText'),
        },
        {
          number: '2',
          text: this.$t('oneYearText'),
        },
        {
          number: '3',
          text: this.$t('twoYearText'),
        },
        {
          number: '4',
          text: this.$t('threeYearText'),
        },
      ],
    };
  },
};
</script>
<style scoped>

#serialText {
  position: absolute;
  top: 166px;
  left: 84px;
  font-size: 21px;
  font-family: 'FranklinGothicBook';
  color: #5B6770;
}

.wiz-slide >>> #borderContainer {
  top: 200px;
  left: 200px;
}
.wiz-slide >>> .wiz-image {
  width: auto;
  height: auto;
}

.wiz-slide #brainImage >>> img {
  width: 50%;
  height: auto;
}

.wiz-slide >>> #borderContainer {
  top: 55px;
  left: 84px;
  width: 83.5%;
  height: auto;
}

#borderContainer >>> .wiz-image img {
  width: 100%;
  height: auto;
}

#borderContainer  >>> #list {
  position: relative;
  margin: 0;
  padding: 0;
  height: 27px;
}

#borderContainer #list >>> li {
  list-style: none;
  position: relative;
  top: 5px;
  width: 25%;
  height: 100%;
  margin-bottom: 0 !important;
}

#borderContainer #list >>> li .wiz-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'FranklinGothicMedium';
  font-size: 14px;
  color: #5B6770;
  transform: translate(-50%, -50%);
}

.wiz-slide #borderContainer >>> #leftBorder, .wiz-slide #borderContainer >>> #rightBorder {
  width: 23px;
}

#adaptedText, #goalText {
  position: absolute;
  font-family: 'FranklinGothicBook';
}

#adaptedText {
  top: 529px;
  left: 85px;
  font-size: 9.5px;
}

#goalText {
  top: 552px;
  left: 137px;
  font-size: 25px;
  text-align: center;
}

#patientImageContainer {
  width: 24%;
  position: absolute;
  z-index: 100;
  top: 624px;
  left: 322px;
}

#patientImageContainer .patient-image {
  width: calc(100% / 3);
  position: absolute;
  top: 0;
}

.patient-image:nth-child(1) {
  top: 0;
  left: 0;
}

.patient-image:nth-child(2) {
  position: absolute;
  left: 150px ;
}

.patient-image:nth-child(3) {
  position: absolute;
  left: 300px;
}

.patient-image .svg-button {
  position:absolute;
  top: 36px;
  left: 62px;
  width: 47px;
  height: 47px;
}

#msMriText {
  position: absolute;
  top: 726px;
  left: 83px;
  font-size: 11px;
}
</style>
