<i18n>
  {
    "eng": {
      "header": "<span>Rrms patients on tecfidera had a low mri activity<br>sustained for 5 years<sup>1</sup></span>",
      "text1": "<span>TECFIDERA treatment continued for 5 years resulted in a<br><span>low frequency of Gd+</span> lesions <span>and T2</span> new or enlarging lesions</span>",
      "text2": "<span>(Mean number<br>of Gd+ lesions at<br>year 5: 0.2; n=285)</span>",
      "text3": "<span>(Mean number of T2<br>lesions during<br>year 4-5: 1.2; n=442)</span>",
      "text4": "<span><span>Gd+:</span> Gadolinium Enhancing;<span>MRI:</span> Magnetic Resonance Imaging;<br><span>RRMS:</span> Relapsing-Remitting Multiple Sclerosis.</span>"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <wiz-image id="headerImage" :src="headerImage"></wiz-image>
    <wiz-image id="girlImage" :src="girlImage"></wiz-image>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>

    <wiz-it-border-container>
       <wiz-image id="circle1" :src="circleImage1"></wiz-image>
       <wiz-image id="circle2" :src="circleImage2"></wiz-image>
    </wiz-it-border-container>

    <wiz-text id="header" :text="$t('header')"></wiz-text>
    <wiz-text id="text1" :text="$t('text1')"></wiz-text>
    <wiz-text id="text2" :text="$t('text2')"></wiz-text>
    <wiz-text id="text3" :text="$t('text3')"></wiz-text>
    <wiz-text id="text4" :text="$t('text4')"></wiz-text>
  </wiz-slide>
</template>
<script>
import headerImage from '../../common/media/images/top-background.png';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import girlImage from './media/images/girl.png';
import circleImage1 from './media/images/circle1.png';
import circleImage2 from './media/images/cirlce2.png';

export default {
  data() {
    return {
      headerImage,
      girlImage,
      tecfiderLogo,
      circleImage1,
      circleImage2,
    };
  },
};
</script>
<style scoped>
  #header{
    position: absolute;
    top: 61px;
    left: 84px;
    width: 100%;
    font-family: ITCFranklinGothicStdDemi;
    font-size: 30px;
    line-height: 28px;
    text-transform: uppercase;
    color: #80276c;
  }

  #header >>> sup{
    font-size: 22px;
  }

  #text1{
    position: absolute;
    top: 164px;
    left: 84px;
    width: 855px;
    letter-spacing: 0.7px;
    text-align: center;
    font-family: FranklinGothicBook;
    font-size: 27px;
    color: #585858;
  }

  #text1 >>> span > span{
    color: #78be20;
  }

  #text2, #text3{
    position: absolute;
    top: 577px;
    width: 241px;
    font-family: FranklinGothicMedium;
    font-size: 15px;
    text-align: center;
    color: #5b6770;
  }

  #text2{
    left: 391px;
  }

  #text3{
    left: 687px;
  }

  #text4{
    position: absolute;
    left: 373px;
    top: 716px;
    font-family: FranklinGothicBook;
    font-size: 10px;
    letter-spacing: 0.2px;
    color: #5b6770;
  }

  #text4 >>> span > span{
    font-family: ITCFranklinGothicStdDemi;
    color: #80276c;
  }

  #girlImage{
    position: absolute;
    left: -30px;
    top: 171px;
    width: 474px;
    height: 595px;
  }

  #circle1, #circle2{
    position: absolute;
    top: 32px;
    width: 229px;
    height: 234px;
  }

  #circle1{
    left: 24px;
  }

  #circle2{
    left: 318px;
  }

  .wiz-slide >>> #borderContainer{
    position: absolute;
    left: 373px;
    top: 290px;
    width: 566px;
    height: 349px;
  }
</style>
