<i18n>
  {
    "eng": {
      "headText": "<span>TECFIDERA RESULTS IN STRONG CLINICAL AND MRI EFFECTS<br />IN NEWLY DIAGNOSED PATIENTS<sup>1,2</sup></span>",
      "listItem1": "<span><span>Significant MRI activity reduction vs PBO</span><br />at 2 years<sup>1,2</sup></span>",
      "listItem2": "<span><span>Low ARR vs PBO sustained</span><br />for 6 years<sup>1</sup></span>",
      "listItem3": "<span><span>Significant reduction of the<br />risk of disability progression<br />vs PBO</span> after 6 years<sup>1</sup></span>",
      "listItem4": "<span>Placeholder for<br />library contents</span>",
      "arrMriPboText":"<span><span>ARR: </span>Annualised Relapse Rate; <span>MRI:</span> Magnetic Resonance Imaging;<br /><span>PBO:</span> Placebo.</span>"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <wiz-it-core-header :text="$t('headText')"></wiz-it-core-header>
    <wiz-image id="backgroundGirl" :src="backgroundGirl"></wiz-image>

    <wiz-container id="listContainer">
      <wiz-it-border-container v-for="item in list">
        <wiz-text class="grayGreenText" :text="$t(item)"></wiz-text>
        <wiz-image id="svgButton" :src="svgButton"></wiz-image>
      </wiz-it-border-container>
    </wiz-container>

    <wiz-text class="grayVioletText" id="arrMriPboText" :text="$t('arrMriPboText')"></wiz-text>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>

  </wiz-slide>
</template>
<script>
import backgroundGirl from './media/images/background-girl.png';
import svgButton from '../../common/media/svg/arrow.svg';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';

export default {

  data() {
    return {
      backgroundGirl,
      svgButton,
      tecfiderLogo,
      list: [
        this.$t('listItem1'),
        this.$t('listItem2'),
        this.$t('listItem3'),
        this.$t('listItem4'),
      ],
    };
  },
};
</script>
<style scoped>

.wiz-slide #headerContainer >>> #headText
{
  top: 60px;
  line-height: 1.1;
}

.wiz-slide >>> #headerContainer #headText span sup
{
  font-size: 16px;
}

.wiz-slide >>> .wiz-image#backgroundGirl
{
  position: absolute;
  width: auto;
  height: auto;
  top: 246px;
  left: 17px;
}

.wiz-slide >>> .wiz-image#backgroundGirl img
{
  width: 50%;
}

.wiz-slide >>> #listContainer
{
  position: absolute;
  top: 180px;
  right: 83px;

}

.wiz-slide #listContainer #borderContainer
{
  width: 423px;
  height: 114px;
}

.wiz-slide #listContainer #borderContainer #leftBorder,
.wiz-slide #listContainer #borderContainer #rightBorder
{
  width: 25px;
}

.wiz-slide #listContainer #borderContainer >>> .wiz-text
{
  font-size: 26px;
  font-family: "ITCFranklinGothicStdDemi";
  line-height: 1.1;
}

.wiz-slide #listContainer #borderContainer:not(:first-child):not(:last-child)
{
  margin: 13px 0 13px 0;
}

.wiz-slide #listContainer #borderContainer >>> #contentContainer
{
  padding: 0 30px 0 30px;
  min-height: none;
}

.wiz-slide #listContainer #borderContainer:nth-child(odd) >>> #contentContainer
{
  padding: 20px 30px 0 30px;
}

.wiz-slide #listContainer #borderContainer:nth-child(even) >>> #contentContainer
{
  padding: 32px 30px 0 30px;
}

#svgButton
{
  position:absolute;
  top: 60px;
  right: 11px;
  width: 47px;
  height: 47px;
}

#arrMriPboText
{
  position: absolute;
  top: 715px;
  left: 514px;
  font-size: 10.5px;
}
</style>
