<template>
  <transition name="fade">
    <wiz-container id="sitemapContainer"
      v-outside-click="closePopUp"
      v-if="!close"
      :style="`transition: opacity ${closeTime}s`"
      >
       <wiz-button
       id="closeBtn"
       @click.prevent="closePopUp"
       :class="closeAnimation ? 'closeAnimation': null"
       >
        <wiz-container
        id="fillProcess"
        :style="`animation-duration: ${fillTime}s`"
        ></wiz-container>
        <svg id="closeCross"
        :style="`animation-duration: ${fillTime}s`"
        >
          <polygon points="28,22.398 19.594,14 28,5.602 22.398,0 14,8.402 5.598,0 0,5.602
          8.398,14 0,22.398 5.598,28 14,19.598 22.398,28"/>
        </svg>
       </wiz-button>
       <wiz-container id="chaptersContainer">
        <wiz-container
        id="chapterContainer"
        v-for="(item, index) in chaptList"
        v-bind:key="index">
            <wiz-text
            id="chapterName"
            :text="item.name.toUpperCase()"></wiz-text>
              <wiz-container id="slidesContainer">
                <wiz-container
                id="slide"
                v-for="(slide, index) in item.content"
                v-bind:key="index"
                :class="[(activeSlide === slide) ? 'activeSlide' : null]"
                v-goto="{slide: slide, chapter: item.link , animation: true}"
                >
                <wiz-image
                id="slideImage"
                :src="require(`../../../slides/${slide}/media/images/thumb.jpg`)"></wiz-image>
                </wiz-container>
            </wiz-container>
        </wiz-container>
        </wiz-container>
    </wiz-container>
  </transition>
</template>

<script>

import { PropType } from 'component-types';

export default {
  name: 'wiz-it-sitemap-menu',
  data() {
    return {
      chaptList: [],
      closeAnimation: false,
    };
  },
  props: {
    fillTime: {
      type: Number,
      actualType: PropType.Number,
      label: 'Button animation fill time in seconds',
      default: 2,
    },
    closeDelay: {
      type: Number,
      actualType: PropType.Number,
      label: 'Close PopUp delay in seconds',
      default: 0,
    },
    closeTime: {
      type: Number,
      actualType: PropType.Number,
      label: 'Close animation time in seconds',
      default: 0.5,
    },
    insideClose: {
      type: String,
      sealed: true,
      default: 'close',
    },
  },
  computed: {
    close() {
      let status;
      if (this.insideClose === 'close') {
        status = true;
      } else if (this.insideClose === 'open') {
        status = false;
      }
      return status;
    },
    activeSlide() {
      return this.$route.path.split('/')[2];
    },
  },
  methods: {
    closePopUp(event) {
      const elem = event.target;
      if (!elem.closest('#openPopUpButton')) {
        this.closeAnimation = true;
        setTimeout(() => {
          this.$emit('close');
          this.closeAnimation = false;
          return null;
        }, ((this.fillTime + this.closeDelay) * 1000));
      }
    },
  },
  created() {
    const arrOfChapters = Object.values(this.$navigator.structure.chapters);
    arrOfChapters.map((item, index) => {
      if (typeof item.name !== 'undefined') {
        this.chaptList.push({
          ...item, link: this.$navigator.structure.chapterIterator.items[index],
        });
      }
      return null;
    });
  },
};
</script>

<style scoped >


.fade-enter, .fade-leave-to
{
  opacity: 0;
}

#sitemapContainer
{
    position: absolute;
    top: 30px;
    left: 44px;
    z-index: 200;
    width: 960px;
    height: 738px;
    background-color: #ffffff;
    border: 1px solid #80276C;
}

#closeBtn
{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 4px;
    background: none;
    border-radius: 50%;
    border: 4px solid #80276C;
}

#fillProcess
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}
#fillProcess:empty
{
    background: #80276C;
}

#closeBtn #closeCross
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    fill: #80276C;
    transform:  translate(-50%, -50%);
}


@keyframes changeColor
{
    65%{
        fill: #ffffff;
    }
    70%{
        fill: #ffffff;
    }
    75%
    {
        fill: #80276C;
    }
}
#closeBtn.closeAnimation #closeCross
{
    animation-name: changeColor;
}

@keyframes closebtn
{
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}
.closeAnimation #fillProcess
{
    animation-name: closebtn;
}

#chaptersContainer
{
    position: absolute;
    top: 60px;
    left: 30px;
    max-height: 900px;
}

#chapterContainer:not(:last-child)
{
    border-bottom: 1.5px solid #B9B9B9;
}

#slidesContainer
{
    display: flex;
}
#chapterName
{
    padding: 10px 0 10px 0;
    font-size: 30px;
    font-family: 'FranklinGothicBook';
    color: #5B6770;
}

#slideImage
{
    padding: 0 5px  0px 5px;
    width: auto;
    height: auto;
    max-width: 180px;
}


.activeSlide
{
    border: 10px solid #80276C;
    margin-bottom: 10px;
}
</style>
