<i18n>
  {
    "eng": {
      "headerText": "<span>Active 23-year-old female patient</span>",
      "slideDescription": "<span>Full-time medical assistant, in the prime of her life, has many hobbies<br>and a big circle of friends</span>",
      "diagnosis": "<span>Diagnosis</span>",
      "diagnosisDescription": "<span>First manifestation (retrospective)</span>",
      "diagnosisListItem1": "<span>Transient diplopia</span>",
      "confirmation": "<span>Confirmation of diagnosis of RRMS</span>",
      "confListItem1": "<span>Paresthesia of the left hand</span>",
      "confListItem2": "<span>Typical CSF findings</span>",
      "confListItem3": "<span>MRI: 5 supratentorial/juxtacortical lesions (2 of which are Gd+)</span>",
      "confListItem4": "<span>Reversal of symptoms with cortisone pulse therapy<br />EDSS: 0</span>",
      "yearListItem1": "<span>2016</span>",
      "yearListItem2": "<span>2017</span>",
      "patientHeader": "<span>Patient needs:</span>",
      "listItem1": "<span>Worried about MS evolution</span>",
      "listItem2": "<span>Wish to switch for an effective therapy to continue with her life plans</span>",
      "listItem3": "<span>Preference for an oral therapy</span>"
    }
  }
</i18n>'

<template>
  <wiz-slide>
    <wiz-image id="headerImage" :src="headerImage"></wiz-image>

    <wiz-container id="header">
      <wiz-text id="headerText" :text="$t('headerText')"></wiz-text>
      <wiz-text id="slideDescription" :text="$t('slideDescription')"></wiz-text>
    </wiz-container>

    <wiz-container id="slideContentSection">

      <wiz-container class="circle-line-container">
        <wiz-image class="circle-image" :src="circle"></wiz-image>
      </wiz-container>

      <wiz-container class="content-list-container">
        <wiz-text class="content-header" :text="$t('diagnosis')"></wiz-text>
        <wiz-text id="diagnosisDescription" :text="$t('diagnosisDescription')"></wiz-text>
        <wiz-list orientation="vertical" :list="diagnosisList" icon-alignment="left"></wiz-list>
      </wiz-container>

      <wiz-container class="circle-line-container">
        <wiz-image class="circle-image" :src="circle"></wiz-image>
      </wiz-container>

      <wiz-container class="content-list-container">
        <wiz-text class="content-header"  :text="$t('confirmation')"></wiz-text>
        <wiz-list orientation="vertical" :list="confirmationList" icon-alignment="left"></wiz-list>
      </wiz-container>

    </wiz-container>

    <wiz-list id="yearList" orientation="horizontal" icon="" :list="yearList"></wiz-list>

    <wiz-container id="patientSection">
      <wiz-text id="patientHeader" :text="$t('patientHeader')"></wiz-text>
      <wiz-list orientation="vertical" icon-alignment="left" :list="list">
      </wiz-list>
    </wiz-container>

    <wiz-image id="womanImage":src="womanImage"></wiz-image>
    <wiz-image id="tecfigerLogo" :src="tecfiderLogo"></wiz-image>

  </wiz-slide>
</template>
<script>
import headerImage from '../../common/media/images/top-background.png';
import womanImage from './media/images/woman.png';
import tecfiderLogo from '../../common/media/images/tecfider-logo.png';
import circle from '../../common/media/images/circle.png';

export default {
  data() {
    return {
      headerImage,
      womanImage,
      tecfiderLogo,
      circle,
      diagnosisList: [{
        number: '1',
        text: this.$t('diagnosisListItem1'),
      }],
      confirmationList: [{
        number: '1',
        text: this.$t('confListItem1'),
      },
      {
        number: '2',
        text: this.$t('confListItem2'),
      },
      {
        number: '3',
        text: this.$t('confListItem3'),
      },
      {
        number: '4',
        text: this.$t('confListItem4'),
      },
      ],
      yearList: [{
        number: '1',
        text: this.$t('yearListItem1'),
      },
      {
        text: this.$t('yearListItem2'),
      }],
      list: [{
        number: '1',
        text: this.$t('listItem1'),
      },
      {
        text: this.$t('listItem2'),
      },
      {
        text: this.$t('listItem3'),
      }],
    };
  },
};
</script>
<style scoped>
  .wiz-list >>> .wiz-list-item .icon-bullet {
    width: auto;
    height: 100%;
    overflow: visible;
  }

  .wiz-list >>> .wiz-list-item .icon-bullet .wiz-image {
    width: auto;
    height: auto;
  }

  .wiz-list >>> .wiz-list-item .icon-bullet .wiz-image img {
    width: 4px;
    height: 4px;
  }

  .wiz-list >>> .wiz-text {
    text-align: start;
    color: #5B6770;
  }

  #slideDescription{
    position: absolute;
    top: 34px;
    font-family: 'FranklinGothicBook', sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: rgb(91,103,112);
  }

  #slideContentSection {
    position: absolute;
    top: 155px;
    left: 85px;
    width: 686px;
    height: 350px;
    border-bottom: 1px solid #80276C;
  }

  .circle-line-container {
    position: absolute;
    left: 17px;
    bottom: 5px;
    width: 30px;
    height: 90%;
    border-left: 2px solid #78BE20;
  }

  #slideContentSection .circle-line-container:nth-child(3) {
    left: 206px;
    height: 55%;
  }

  .circle-image {
    width: 29px;
    height: 29px;
    position: absolute;
    top: -18px;
    left: -16px;
  }

  .content-list-container {
    position: absolute;
    top: 43px;
    left: 29px;
  }

  .content-list-container:nth-of-type(4) {
    top: 170px;
    left: 222px;
  }

  .content-header {
    font-size: 15px;
    font-family: 'FranklinGothicMedium';
    color: #80276C;
    line-height: 1.1;
  }

  #diagnosisDescription {
    font-size: 12.5px;
    font-family: 'FranklinGothicBook';
    color: #5B6770;
    line-height: 10px;
  }

  .content-list-container .wiz-list {
    position: absolute;
    top: 12px;
    left: 2px;
    width: 500px;
    margin-right: 0;
    padding: 0;
  }

  .content-list-container:nth-of-type(4) .wiz-list {
    margin: 0;
    top: 12px;
    left: 0px;
  }

  .content-list-container:nth-of-type(4) >>> .wiz-list li {
    margin-bottom: 0px !important;
  }

  .content-list-container .wiz-list >>> .icon-bullet {
    margin-right: 3px;
  }

  .content-list-container .wiz-list >>> .icon-bullet img {
    display: flex;
  }
  .content-list-container .wiz-list >>> .wiz-text {
    font-size: 12px;
  }

  .content-list-container .wiz-list >>> li {
    align-items: center;
  }

  #yearList {
    position: absolute;
    top: 500px;
    left: 47px;
  }

  #yearList >>> .wiz-text {
    font-family: 'FranklinGothicMedium';
    font-size: 15px;
    color: #80276C;
  }

  #yearList >>> li:not(:first-child) {
    margin-left: 135px;
  }
  #womanImage{
    position: absolute;
    top: 193px;
    left: 745px;
    width: 250px;
    height: 400px;
  }

  #patientSection{
    position: absolute;
    top: 564px;
    left: 63px;
  }

  #patientHeader {
    position: absolute;
    top: 0;
    left: 23px;
    font-family: 'ITCFranklinGothicStdDemi';
    font-size: 21.5px;
    color: #78BE20;
  }

  #patientSection >>> ul {
    padding: 25px 0 0 22px;
  }

  #patientSection >>> ul li {
    margin-bottom: 10px !important;
  }

  #patientSection >>> li .wiz-text {
    font-size: 22px;
    text-align: start;
  }

  #patientSection >>> li:last-child {
    padding: 6px 0 0 0;
  }
</style>
