<template>
<wiz-container id="sidebarContainer">
  <wiz-container id="itemsContainer">
        <slot>
        </slot>
  </wiz-container>
</wiz-container>
</template>

<script>

export default {
  name: 'wiz-it-sidebar',
};
</script>

<style scoped >

#sidebarContainer
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 44px;
    height: 100%;
    max-height: 768px;
    background-color: #ffffff;
    box-shadow: inset -12px -8px 20px rgba(70, 70, 70, 0.07);
}

#sidebarContainer:empty
{
  background: #ffffff;
}

#itemsContainer
{
  position: absolute;
  top: 260px;
  width: 100%;
}
</style>
