<template>
   <wiz-container
    id="headerContainer"
    >
      <wiz-image
      :src="coreTopBackground"
      alt="header"
      >
      </wiz-image>
      <wiz-text
      id="headText"
      :text="text"
      ></wiz-text>
    </wiz-container>
</template>

<script>

import coreTopBackground from '../../media/images/core-top-background.png';
import { PropType } from 'component-types';

export default {
  name: 'wiz-it-core-header',

  props: {
    text: {
      type: String,
      actualType: PropType.String,
      label: 'Header Text',
      default: 'Default text',
    },
  },
  data() {
    return {
      coreTopBackground,
    };
  },
};
</script>

<style scoped >
#headerContainer
{
  position: relative;
  display:block;
  width: 100%;
  height: fit-content;
}

#headerContainer .wiz-image
{
  width: 100%;
  height: 146px;
}

#headerContainer #headText
{
  position: absolute;
  left: 84px;
  top: 57px;
  font-size: 30px;
  font-family: "ITCFranklinGothicStdDemi";
  line-height:1;
  color: #ffffff;
}

#headerContainer #headText >>> sup
{
  font-size: 20px;
}
</style>
